/* ________________FOOTER */

.footer {
    max-height: 221px;
    position: relative;
    background: #F2F2F2;
    padding-top: 18px;
    
}

.contactsTitle {
    padding-left: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 183.6%;
    /* or 29px */
    font-feature-settings: 'kern'off;
    color: #3D3C3C;

}

.contacts {
    height: 144px;
    

    font-size: 16px;
    line-height: 183.6%;
    /* or 29px */
    font-feature-settings: 'kern'off;
    color: #3D3C3C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-left: 22px;

}

.socials {
    position: absolute;
    top: 46px;
    right: 16px;
}

.socials>a {
    display: block;
    width: 30px;
    height: 30px;
    background: #503E9D;
    border-radius: 6px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    outline-color: #FCD561;
}

.socials>a:nth-of-type(1) {
    background-image: url(../../img/facebook.svg);
    background-size: 8.25px 18px;
}

.socials>a:nth-of-type(2) {
    background-image: url(../../img/instagram.svg);
    background-size: 16px 16px;
}

.socials>a:nth-of-type(3) {
    margin-bottom: 0;
    background-image: url(../../img/youtube.svg);
    background-size: 18px 13px;

}


.copyright {
    font-size: 12px;
    line-height: 183.6%;
    /* or 22px */

    text-align: center;
    font-feature-settings: 'kern'off;

    color: #3D3C3C;
    padding-bottom: 10px;
    

}

.copyright>span {
    display: inline-block;
    font-weight: bold;
}

@media(min-width: 768px) {
    .footer {
        max-height: 185px;
    }
    .contacts {
        max-height: 110px;
        align-content: baseline;
        width: 60%;
        max-width: 480px;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 46px;
        
    }
    .contactsTitle {
        padding-left: 46px;
    }
    .socials {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        width: 20%;
        top: 62px;
        right: 46px;
    }
    .socials>a {
        margin-left: 20px;
    }

}

@media(min-width: 1280px) {
    .contactsTitle {
        padding-left: 6%;
    }
    .contacts {
        padding-left: 6%;
    }
    .socials {
        right: 91px;
    }
}
